*{
  margin: 0%;
  padding: 0%;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  background: linear-gradient(120deg, tomato, dodgerblue);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input{
  font-size: 20px;
  width: 60px;
  height: 60px;
}

input[type=text]{
  cursor: default;
  width: 210px;
  margin-bottom: -2px;
  background-color: transparent;
  font-size: 30px;
  color: white;
}
